* {
    margin: 0;
    padding: 0;
}

body {
    background: url(netflix_assects/background.jpg);
    position: absolute;
    left: -31px;
    top: -31px;
    background-blend-mode: darken;
   
    overflow-y: scroll;
}

.logo_main {
    text-decoration: none;
    position: absolute;
    width: 384px;
    height: 121px;
    left: 54px;
    top: 20px;
    font-family: "Abril Fatface", serif;
    font-style: normal;
    font-weight: normal;
    font-size: 96px;
    line-height: 130px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #F90000;
}


@font-face {
    font-family: 'Abril Fatface';
    src: url(fonts/AbrilFatface-Regular.ttf) format('truetype'); /* Safari, Android, iOS */
    font-family: 'GemunuLibre-SemiBold';
    src: url(fonts/GemunuLibre-SemiBold.ttf) format('truetype');
    font-family: 'Courgette-Regular';
    src: url(fonts/Courgette-Regular.ttf) format('truetype');
}

