* {
    padding:0;
    margin:0;
}

body {
    background-color: #141414;
}

.header{
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 88.89%;
    background: linear-gradient(180deg, #000000 76.89%, rgba(31, 24, 24, 0.83) 100%);
    z-index: 1030;
}

.nav_header{
    display: flex;
    flex-direction: row;
}

.home {
    text-decoration: none;
}

.logo {
    position: relative;
    width: 219px;
    height: 75px;
    left: 26px;
    top: 10px;
}

.logo-text {
    font-family: "Abril Fatface", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.04em;

    color: #F90000;
}

@font-face {
    font-family: 'Abril Fatface';
    src: url(fonts/AbrilFatface-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Content';
    src: url(fonts/Content.ttf) format('truetype')
}

.nav_links {
    position: relative;
    left: 40px;
    top: 28px;

}
.ul_links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.n_links{
    text-decoration: none;
    padding-left:15px;
    padding-right: 15px;
    font-family: Content;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFEFE;
    width: 61px;
    height: 25px;
}


.user{
    margin-left: auto!important;
    margin-right: 90px;
    margin-top: -20px;
}

@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

.search-container {
    position: absolute;
    margin: auto;
    top: 0;
    left: 40%;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100px;
}

.search-container .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 30px;
    width: 48px;
    height: 48px;
    background: #b10202;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.search-container .search:hover {
    cursor: pointer;
}

.search-container .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 16px;
    right: 0;
    bottom: 0;
    left: 16px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all 0.5s;
}
.search-container .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.5s;
}

.search-container input {
    font-family: Content, sans-serif;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: #b10202;
    color: ghostwhite;
    text-shadow: 0 0 10px #b10202;
    padding: 0 0 0 15px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #b81515, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.search-container input:hover {
    cursor: pointer;
}

.search-container input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
}

.search-container input:focus ~ .search {
    right: -250px;
    background: #151515;
    z-index: 6;
}
.search-container input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
}

.search-container input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
}

.search-container input::placeholder {
    color: ghostwhite;
    opacity: 0.5;

}


.main {
    width: 1338px;
    height: 438px;
    background:  rgba(0, 0, 0, 0.65);
    position: absolute;
    left: 3.12%;
    right: 3.96%;
    top: 100px;
    bottom: -2.78%;
    
}

.box_1 {
    padding-bottom: 20px;
}
.image {
    position: relative;
    width: 551px;
    height: 303px;
    left: 27px;
    top: 51px;
}

.footer {
    right: 0;
    padding: 24px 0 35px;
    position: relative;
    text-align: center;
    width: 1460px;
    height: 154px;
    left: 0;
    top:1100px;
    margin-top: 350px;
    background: rgba(0, 0, 0, 0.65);
}

.name {
    position: absolute;
    left: 43.4%;
    right: 30.56%;
    top: 5%;
    bottom: 75.44%;

    font-family: Content;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 88px;
    text-align: center;
    letter-spacing: 0.04em;

    color: #FFFFFF;
}

.description {
    background: transparent;
    position: relative;
    top: 10px;
    font-family: Content;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 44px;
    letter-spacing: 0.04em;
    border: none;
    color: #FFFFFF;
    width: max-content;
    height: 200px;
    resize: none;
}

.rate {
    position: relative;
     top: -235px;
    left: 400px;
    width: max-content;
    height: 50px;
}

.content-comments {
    position: relative;
    top: 20px;
}
.comments {
    position: relative;
    top:50px;
    left: 25px;
    font-family: Content;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 66px;
    letter-spacing: 0.04em;

    color: rgba(255, 255, 255, 0.8);
}

.leave_comment {
    position: relative;
    background: #b10202;
    border: none;
    left: 90%;
    top: 58px;
    font-family: 'Content';
    font-size: 17px;
    width: 90px;
    height: 50px;
    resize: none;
}
.comment {
    position: relative;
    width: 1120px;
    height: 132px;
    top: 70px;
    left: 90px;
    background: rgba(255, 255, 255, 0.45);
    opacity: 0.45;
    font-family: Content;
    font-size: 19px;
    color: white;
    padding-left: 15px;
    resize: none;
}

.user-img {
    position: relative;
    left: 60px;
    top: 30px;
}

footer{
    width: 100%;
}

.questions{
    position: relative;
    width: 362px;
    height: 31px;
    left: 40%;
    top: 30px;
}

.connect{
    font-family: Courgette-Regular, sans-serif  ;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    color: #D2CDCD;
    text-decoration: none;
}

.connect:hover{
    text-decoration: underline;
}

.f_nav:hover {
    text-decoration: underline;
}

.f_nav {
    position: relative;
    width: 362px;
    height: 31px;
    top: 80px;
    font-family: Courgette-Regular, sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 22px;
    text-align: center;
    text-decoration: none;
    color: #D2CDCD;
    padding: 60px;
}

a {
    
}