* {
    padding:0;
    margin:0;
}

body {
    background: url(netflix_assects/background.jpg);
    position: absolute;
    left: -31px;
    top: -31px;
    background-blend-mode: darken;

    overflow-y: scroll;
}

.header{
    position: fixed;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 88.89%;
    background: linear-gradient(180deg, #000000 76.89%, rgba(31, 24, 24, 0.83) 100%);
    z-index: 1030;
}

.nav_header{
    display: flex;
    flex-direction: row;
}

.home {
    text-decoration: none;
}

.logo {
    position: relative;
    width: 219px;
    height: 75px;
    left: 26px;
    top: 10px;
}

.logo-text {
    font-family: "Abril Fatface", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 65px;
    text-align: center;
    letter-spacing: 0.04em;

    color: #F90000;
}

@font-face {
    font-family: 'Abril Fatface';
    src: url(fonts/AbrilFatface-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'Content';
    src: url(fonts/Content.ttf) format('truetype')
}

.nav_links {
    position: relative;
    left: 40px;
    top: 28px;

}
.ul_links {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.n_links{
    text-decoration: none;
    padding-left:15px;
    padding-right: 15px;
    font-family: Content;
    font-style: normal;
    font-weight: normal;
    font-size: 15px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 0.04em;
    color: #FFFEFE;
    width: 61px;
    height: 25px;
}

.user{
    margin-left: auto!important;
    margin-right: 20px;
    margin-top:10px;
}

@import url('https://fonts.googleapis.com/css?family=Inconsolata:700');

.search-container {
    position: absolute;
    margin: auto;
    top: 0;
    left: 40%;
    right: 0;
    bottom: 0;
    width: 300px;
    height: 100px;
}

.search-container .search {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 30px;
    width: 48px;
    height: 48px;
    background: #b10202;
    border-radius: 50%;
    transition: all 1s;
    z-index: 4;
    box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}

.search-container .search:hover {
    cursor: pointer;
}

.search-container .search::before {
    content: "";
    position: absolute;
    margin: auto;
    top: 16px;
    right: 0;
    bottom: 0;
    left: 16px;
    width: 12px;
    height: 2px;
    background: white;
    transform: rotate(45deg);
    transition: all 0.5s;
}
.search-container .search::after {
    content: "";
    position: absolute;
    margin: auto;
    top: -5px;
    right: 0;
    bottom: 0;
    left: -5px;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 2px solid white;
    transition: all 0.5s;
}

.search-container input {
    font-family: Content, sans-serif;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 50px;
    height: 50px;
    outline: none;
    border: none;
    background: #b10202;
    color: ghostwhite;
    text-shadow: 0 0 10px #b10202;
    padding: 0 0 0 15px;
    border-radius: 30px;
    box-shadow: 0 0 25px 0 #b81515, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
    transition: all 1s;
    opacity: 0;
    z-index: 5;
    font-size: 14px;
    letter-spacing: 0.1em;
}

.search-container input:hover {
    cursor: pointer;
}

.search-container input:focus {
    width: 300px;
    opacity: 1;
    cursor: text;
}

.search-container input:focus ~ .search {
    right: -250px;
    background: #151515;
    z-index: 6;
}
.search-container input:focus ~ .search::before {
    top: 0;
    left: 0;
    width: 25px;
}

.search-container input:focus ~ .search::after {
    top: 0;
    left: 0;
    width: 25px;
    height: 2px;
    border: none;
    background: white;
    border-radius: 0%;
    transform: rotate(-45deg);
}

.search-container input::placeholder {
    color: ghostwhite;
    opacity: 0.5;

}

.container {
    position: relative;
    left: 17.01%;
    right: 16.67%;
    top: 20.44%;
    bottom: 0%;

    background-color: rgba(3, 3, 3, .65);
    
    
    width: 955px;
    height: 780px;
}

.account-title {
    position: absolute;
    left: 37.15%;
    right: 36.81%;
    top: 1%;
    bottom: 76.56%;
    font-family: Content;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 88px;
    text-align: center;
    letter-spacing: 0.04em;

    color: #FFFFFF;
}

.userpic {
    position: absolute;
    left: 5.76%;
    right: 62.85%;
    top: 15.44%;
    bottom: 52.56%;
    
}

.information {
    position: relative;
    top: 140px;
    left: 310px;
}

.info {
    list-style: none;
    display: table-cell;
}

.li_1 {
    text-decoration: none;
    width: 170px;
    height: 70px;
}

.li_2 {
    text-decoration: none;
    width: 170px;
    height: 70px;
}

.text-profile {
    font-family: Content;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: 0.04em;

    color: #FFFFFF;
}

.text-profile2 {
    font-family: Content;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: 0.04em;

    color: rgba(255, 255, 255, 0.8);
}

.about-section {
    position: relative;
    top: 150px;
    left: 50px;
}

.about {
    font-family: Content;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: 0.04em;

    color: #FFFFFF;
}

.about_text {
    background: transparent;
    border: none;
    font-family: Content;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 44px;
    letter-spacing: 0.04em;
    width: 851px;
    height: max-content;
    color: rgba(255, 255, 255, 0.8);
}

