@page
@model Movie_back.Pages.Site_pages.My_ListModel
@{
}
<head>
    <link rel="stylesheet" type="text/css" href="~/css/mylist_style.css">
    <title>Movies</title>
</head>
<body>
   
    <div class="container">

        <h3 class="main_title">My List</h3>

        <section class="card">
            <div class="margin-list">
                <a asp-area="" asp-page="One_movie" class="movies_list">
                    <img class="movie_img" src="netflix_assects/movies/klaus.jpg">
                </a>
            </div>
            <div class="margin-list">
                <a asp-area="" asp-page="One_movie" class="movies_list">
                    <img class="movie_img" src="netflix_assects/movies/rise.jpg">
                </a>
            </div>
            <div class="margin-list">
                <a asp-area="" asp-page="One_movie" class="movies_list">
                    <img class="movie_img" src="netflix_assects/movies/isnt.jpg">
                </a>
            </div>
            <div class="margin-list">
                <a asp-area="" asp-page="One_movie" class="movies_list">
                    <img class="movie_img" src="netflix_assects/movies/toalltheboys.jpg">
                </a>
            </div>
        </section>
        <section class="card">
            <div class="margin-list">
                <a asp-area="" asp-page="One_movie" class="movies_list">
                    <img class="movie_img" src="netflix_assects/movies/lordofthe.jpg">
                </a>
            </div>
            <div class="margin-list">
                <a asp-area="" asp-page="One_movie" class="movies_list">
                    <img class="movie_img" src="netflix_assects/movies/isnt.jpg">
                </a>
            </div>
            <div class="margin-list">
                <a asp-area="" asp-page="One_movie" class="movies_list">
                    <img class="movie_img" src="netflix_assects/movies/catch.jpg">
                </a>
            </div>
            <div class="margin-list">
                <a asp-area="" asp-page="One_movie" class="movies_list">
                    <img class="movie_img" src="netflix_assects/movies/old.jpg">
                </a>
            </div>
        </section>
        <section class="card">
            <div class="margin-list">
                <a asp-area="" asp-page="One_movie" class="movies_list">
                    <img class="movie_img" src="netflix_assects/movies/klaus.jpg">
                </a>
            </div>
            <div class="margin-list">
                <a asp-area="" asp-page="One_movie" class="movies_list">
                    <img class="movie_img" src="netflix_assects/movies/rise.jpg">
                </a>
            </div>
            <div class="margin-list">
                <a asp-area="" asp-page="One_movie" class="movies_list">
                    <img class="movie_img" src="netflix_assects/movies/isnt.jpg">
                </a>
            </div>
            <div class="margin-list">
                <a asp-area="" asp-page="One_movie" class="movies_list">
                    <img class="movie_img" src="netflix_assects/movies/toalltheboys.jpg">
                </a>
            </div>
        </section>
        <section class="card">
            <div class="margin-list">
                <a asp-area="" asp-page="One_movie" class="movies_list">
                    <img class="movie_img" src="netflix_assects/movies/lordofthe.jpg">
                </a>
            </div>
            <div class="margin-list">
                <a asp-area="" asp-page="One_movie" class="movies_list">
                    <img class="movie_img" src="netflix_assects/movies/isnt.jpg">
                </a>
            </div>
            <div class="margin-list">
                <a asp-area="" asp-page="One_movie" class="movies_list">
                    <img class="movie_img" src="netflix_assects/movies/catch.jpg">
                </a>
            </div>
            <div class="margin-list">
                <a asp-area="" asp-page="One_movie" class="movies_list">
                    <img class="movie_img" src="netflix_assects/movies/old.jpg">
                </a>
            </div>
        </section>
        <section class="card">
            <div class="margin-list">
                <a asp-area="" asp-page="One_movie" class="movies_list">
                    <img class="movie_img" src="netflix_assects/movies/klaus.jpg">
                </a>
            </div>
            <div class="margin-list">
                <a asp-area="" asp-page="One_movie" class="movies_list">
                    <img class="movie_img" src="netflix_assects/movies/rise.jpg">
                </a>
            </div>
            <div class="margin-list">
                <a asp-area="" asp-page="One_movie" class="movies_list">
                    <img class="movie_img" src="netflix_assects/movies/isnt.jpg">
                </a>
            </div>
            <div class="margin-list">
                <a asp-area="" asp-page="One_movie" class="movies_list">
                    <img class="movie_img" src="netflix_assects/movies/toalltheboys.jpg">
                </a>
            </div>
        </section>
    </div>
    </body>